#sudoku_grid {
  float: left;
  width: 452px;
  height: 452px;
  border: 1px solid black;

  .sudoku_box {
    float: left;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 1px solid gray;
  }
}